$resize-container-border-color: rgba(255, 255, 255, 0.5);
$resize-container-cursor-color: rgba(255, 255, 255, 0.5);
$resize-handle-size: 10px;
$resize-handle-size-mobile: 20px;

.resize-container-wrapper {
    position: absolute;
    min-width: 30px;
    min-height: 30px;
    cursor: default;
}

.resize-container {
    position: fixed;
    border: 2px solid $resize-container-border-color;
    box-sizing: border-box;
    object-fit: contain;
}

.resize-container-rotate {
    position: absolute;
    margin-left: -10px;
    font-size: 20px;
    color: $resize-container-cursor-color;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;

    &--resizing {
        cursor: default;
    }
}

.resize-container-child-wrapper {
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.resize-handle {
    position: absolute;
    z-index: 100;
    width: $resize-handle-size;
    height: $resize-handle-size;
    background-color: $resize-container-cursor-color;
    opacity: 0.5;
    z-index: 10;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;

    &:hover {
        opacity: 1;
    }

    &--selected {
        opacity: 1;
    }

    &--drag-not-selected {
        opacity: 0.5;
        cursor: default;
        &:hover {
            opacity: 0.5;
        }
    }

    &--mobile {
        width: $resize-handle-size-mobile;
        height: $resize-handle-size-mobile;
    }

    &--top-left {
        @extend .resize-handle;
        top: 0;
        left: 0;
    }

    &--top-center {
        @extend .resize-handle;
        top: 0;
        left: calc(50% - #{$resize-handle-size / 2});
    }

    &--top-right {
        @extend .resize-handle;
        top: 0;
        right: 0;
    }

    &--right {
        @extend .resize-handle;
        top: calc(50% - #{$resize-handle-size / 2});
        right: 0;
    }

    &--bottom-right {
        @extend .resize-handle;
        bottom: 0;
        right: 0;
    }

    &--bottom-center {
        @extend .resize-handle;
        bottom: 0;
        left: calc(50% - #{$resize-handle-size / 2});
    }

    &--bottom-left {
        @extend .resize-handle;
        bottom: 0;
        left: 0;
    }

    &--left {
        @extend .resize-handle;
        top: calc(50% - #{$resize-handle-size / 2});
        left: 0;
    }
}
