$resize-container-border-color: white;
$resize-container-cursor-color: white;
$resize-handle-size: 10px;

.resize-container-wrapper {
    position: absolute;
    background-color: yellowgreen;
}

.resize-container {
    position: absolute;
    border: 2px solid $resize-container-border-color;
    box-sizing: border-box;
    object-fit: contain;
}

.resize-container-rotate {
    position: absolute;
    margin-left: -10px;
    font-size: 20px;
    color: $resize-container-cursor-color;
    cursor: pointer;
}

.resize-container-child-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.resize-handle {
    position: absolute;
    width: $resize-handle-size;
    height: $resize-handle-size;
    background-color: $resize-container-cursor-color;
    opacity: 0.5;
    z-index: 10;
    // cursor: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz48IURPQ1RZUEUgc3ZnIFBVQkxJQyAiLS8vVzNDLy9EVEQgU1ZHIDEuMS8vRU4iICJodHRwOi8vd3d3LnczLm9yZy9HcmFwaGljcy9TVkcvMS4xL0RURC9zdmcxMS5kdGQiPjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgdmVyc2lvbj0iMS4xIiB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIHZpZXdCb3g9IjAgMCAyNCAyNCI+PHBhdGggZD0iTTEwLDhINkwxMiwyTDE4LDhIMTRWMTZIMThMMTIsMjJMNiwxNkgxMFY4WiIgLz48L3N2Zz4='),
    //     pointer;
    cursor: pointer;

    &--top-left {
        @extend .resize-handle;
        top: 0;
        left: 0;
    }

    &--top-center {
        @extend .resize-handle;
        top: 0;
        left: calc(50% - #{$resize-handle-size / 2});
    }

    &--top-right {
        @extend .resize-handle;
        top: 0;
        right: 0;
    }

    &--right {
        @extend .resize-handle;
        top: calc(50% - #{$resize-handle-size / 2});
        right: 0;
    }

    &--bottom-right {
        @extend .resize-handle;
        bottom: 0;
        right: 0;
    }

    &--bottom-center {
        @extend .resize-handle;
        bottom: 0;
        left: calc(50% - #{$resize-handle-size / 2});
    }

    &--bottom-left {
        @extend .resize-handle;
        bottom: 0;
        left: 0;
    }

    &--left {
        @extend .resize-handle;
        top: calc(50% - #{$resize-handle-size / 2});
        left: 0;
    }
}
