html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
        'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.app {
    display: flex;
    height: 100%;
    flex-direction: column;
    text-align: center;
}

.app-logo {
    width: auto;
    height: 60%;
    pointer-events: none;
    user-select: none;
}

.app-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 26px;
    color: white;
}

.app-render-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 300px;
    height: 200px;
    padding: 30px;
    background-color: #282c34;
    white-space: nowrap;
}

.app-add-items {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 10px;
}

@media screen and (max-width: 991px) {
    .app-header {
        font-size: 20px;
    }

    .app-render-item {
        width: 160px;
        height: 160px;
        padding: 0;
    }
}
