html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
        'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.app-logo {
    width: auto;
    height: 60%;
    pointer-events: none;
    user-select: none;
}

.app {
    display: flex;
    width: 100vw;
    min-height: 100vh;
    flex-direction: column;
    text-align: center;
    background-color: #282c34;
    min-width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 26px;
    color: white;
}

.app-transformable-target {
    position: relative;
    width: 85vw;
    height: 60vh;
    background-color: cadetblue;
    overflow: hidden;
}

.app-render-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 250px;
    height: 200px;
    padding: 30px;
    background-color: #282c34;
    white-space: nowrap;
    user-select: none;
}

.app-toolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 85vw;
    margin: 10px;
}

.app-add-items {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.app-delete-target {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 180px;
    max-width: 400px;
    padding: 0 30px;
    border: 2px cadetblue solid;
    user-select: none;
}

.app-delete-target--hover {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 180px;
    max-width: 400px;
    padding: 0 30px;
    border: 2px white solid;
}

@media screen and (max-width: 991px) {
    .app-header {
        font-size: 20px;
    }

    .app-transformable-target {
        position: relative;
        width: 85vw;
        height: 50vh;
        background-color: cadetblue;
    }

    .app-toolbar {
        flex-direction: column;
        justify-content: center;
        width: 85vw;
    }

    .app-delete-target {
        height: 140px;
        max-width: none;
    }

    .app-delete-target--hover {
        height: 140px;
        max-width: none;
        border: 2px white solid;
    }

    .app-add-items {
        margin: 10px;
    }

    .app-render-item {
        width: 160px;
        height: 160px;
        padding: 0;
    }
}
